:root {
    --create-account-btn: #596D48;
    --inputs: #E5E7EB;
    --transparent-bg: rgba(0, 0, 0, 0.5);
}

.header {
    background: url('../assets/images/bg-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 30svh;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .logo__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: var(--transparent-bg);
        width: 100%;
        height: 15vh;

        .odin__logo {
            width: 5rem;
            height: 5rem;
        }

        .logo__text {
            color: white;
            font-family: 'Norse-Bold';
            font-size: 3rem;
        }
    }
}
