*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Norse;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('../assets/fonts/Norse-Bold.otf') format('opentype');
}

body {
    font-family: 'Inter', system-ui, sans-serif;
    min-height: 100svh;
}

img {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
    border: none;
    background: none;

    font-weight: 600;
}

a {
    text-decoration: none;
}

p {
    font-weight: 600;
}